<!DOCTYPE HTML>

<html>
	<head>
		
    <%- include('./layouts/head') %>
	</head>
	<body class="is-preload right-sidebar">
		<div id="page-wrapper">

			 <%- include('./layouts/header') %>

			<!-- Main -->
				<div id="main-wrapper">
					<div class="container">
						<div class="row gtr-200">
							<div class="col-8 col-12-medium">
								<%- include('./layouts/additemform') %>
							</div>
							<div class="col-4 col-12-medium">
								<%- include('./layouts/sidebar') %>
							</div>
						</div>
					</div>
				</div>

			 <%- include('./layouts/footer') %>